
*
{
  margin: 0;
  padding: 0;
}

body{
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  overflow-x: hidden;
}
::-moz-selection { /* Code for Firefox */
    background: #C8C8C8;
}

::selection {
    background:#C8C8C8;
}

/*default styles*/

.padding0
{
    padding: 0;
}
.imgCenter
{
    margin: 0 auto;
    display: table;
    float: none;
}
a
{
    border: none;
    color: inherit;
}
a:active
{
    border: none;
    color: inherit;
    text-decoration: none;
}
a:hover
{
    border: none;
    color: inherit;
    text-decoration: none;
}
a:focus
{
    border: none;
    color: inherit;
    text-decoration: none;
}

.header
{
    height: 450px;
    width: 100%;
    background-color: #000;
}
.header img
{
    position: relative;
    top: 66px;
}
.header h1
{
    letter-spacing: 9px;
    line-height: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding-top: 70px;
}
.header h2
{
    color: #fff;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 24px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 4px;
}
ul
{
    margin: 60px auto;
    display: table;
    float: none;
    list-style: none;
}
ul li 
{
    float: left;
    border: 1px solid #fff;
    background-color: #fff;
    height: 30px;
    width: 145px;
    padding-top: 3px;
    text-align: center;
    margin-left: 36px;
    transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
}
ul li a 
{
    letter-spacing: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 16px;
    font-size: 13px;
    color: #000000;
    text-align: center;
}
.item
{
    height: 500px;
    margin-top: 100px;
    text-align: center;
}
.item:nth-child(3)
{
    margin-top: 10px;
}
.item:nth-child(4)
{
    margin-top: 10px;
}
.item:nth-child(5)
{
    margin-top: 10px;
}

.item:nth-child(9)
{
    margin-top: 10px;
}
.item:nth-child(8)
{
    margin-top: 10px;
}
.item:nth-child(10)
{
    margin-top: 10px;
}
.item:nth-child(11)
{
    margin-top: 10px;
}
.item:nth-child(12)
{
    margin-top: 10px;
}
.item h2
{
    letter-spacing: 3px;
    line-height: 34px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    font-size: 28px;
    font-weight: 400;
}
.itemItem
{
     letter-spacing: 3px;
    line-height: 34px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}
.item img
{
    float: left;
    margin-top: 50px;
}

.demo
{
    color: #000;
    letter-spacing: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 34px;
}
.image2
{
    float: right;
    margin-left: 23px;
}
.item h3
{
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: #000;
    font-weight: 400;
    padding-right: 319px;
    position: relative;
    top: 50px;
}
.item h4
{
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: #000;
    font-weight: 400;
    float: right;
    padding-right: 29px;
    position: relative;
    top: 3px;
}
.catalog
{
    text-align: center;
    padding-left: 0;
    padding-right: 53px!important;
}
.static
{
    padding-right: 305px!important;
}
.full
{
    padding-right: 83px!important;
}
@media screen and (min-width:280px) and (max-width: 1199px) {
    .header
    {
        height: 800px;
    }
    ul li {
        float: none;
        margin-top: 29px;
    }
    .item img {
        float: none;
        margin-top: 50px;
    }
    .item {
        height: 800px;
        margin-top: 100px;
        text-align: center;
    }
    h3
    {
        display: none;
    }
     h4
    {
        display: none;
    }
    .image2 {
        float: right;
        margin-left: 0px;
    }
 }