
*
{
  margin: 0;
  padding: 0;
}

body{
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  overflow-x: hidden;
}
::-moz-selection { /* Code for Firefox */
    background: #C8C8C8;
}

::selection {
    background:#C8C8C8;
}

/*default styles*/

.padding0
{
    padding: 0;
}
.imgCenter
{
    margin: 0 auto;
    display: table;
    float: none;
}
a
{
    color: inherit;
    border: none;
}
a:active
{
    border: none;
}
a:hover
{
    border: none;
    color: inherit;
    text-decoration: none;
}
a:focus
{
    border: none;
}

/*navbar default bootstrap settings*/

.navbar-inverse {
    background-color: #000000;
    height: 75px;
    border-color: #080808;
    border-radius: 0px;
}
.innerBrand
{
	color: #fff;
	float: left;
}
.navbar-brand
{
	float: left;
}
.logoSmallScreens
{
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    line-height: 16px;
    color: #fff;
    font-weight: normal;
    position: relative;
    top: 9px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 19px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 8px;
    margin-top: 2px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    padding-left: 4px;
    padding-right: 25px;
    letter-spacing: 2px;
    line-height: 16px;
    font-weight: normal;
}
.navbar-right
{
    margin-top: 15px;
    margin-right: 64px;
}

/*portfolio section*/

.portfolio
{
    height: 330px;
    width: 100%;
    background-color: #EDEDED;
}
.portfolio h4
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 7px;
    padding-top: 100px;
    text-align: center;
    margin-top: 0px;
    padding-top: 169px;
}
.portfolio h5
{
    line-height: 20px;
    font-size: 17px;
    color: #000000;
    letter-spacing: 4px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin-top: 14px;
}


/*portfolio items*/

.portfolioItem
{
    height: 717px;
    width: 100%;
}
.buttonsActiveItem
{
    list-style: none;
    margin: 99px auto;
    display: table;
    float: none;
    margin-bottom: 0px;
}
.buttonsActiveItem li 
{
    width: 192px;
    height: 36px;
    float: left;
    margin-left: 15px;
    margin-right: 13px;
    padding: 7px 0px;
    text-align: center;
}
.activeButton
{
    border: 1px solid #000;
}
.buttonsActiveItem li a
{
    color: #000;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
}
.buttonsActiveItem li a:hover
{
    text-decoration: none;
    color: #000;
}
.buttonsActiveItem li a:active
{
    text-decoration: none;
    color: #000;
}
.buttonsActiveItem li a:focus
{
    text-decoration: none;
    color: #000;
}
/*portfolio section*/

.itemPortfolio:nth-child(1)
{
    height: 245px;
    width: 383px;
    background-image: url('../assets/portfolio/portfolio1.jpg');
    margin-top: 48px;
    background-size: cover;
    background-position: center;
}
.itemPortfolio:nth-child(2)
{
    height: 245px;
    width: 383px;
    background-image: url('../assets/portfolio/portfolio2.jpg');
    margin-top: 48px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}
.itemPortfolio:nth-child(3)
{
    height: 245px;
    width: 383px;
    background-image: url('../assets/portfolio/portfolio4.jpg');
    margin-top: 48px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}
.itemPortfolio:nth-child(4)
{
    height: 245px;
    width: 383px;
    background-image: url('../assets/portfolio/portfolio5.jpg');
    margin-top: 10px;
    background-size: cover;
    background-position: center;
}
.itemPortfolio:nth-child(5)
{
    height: 245px;
    width: 383px;
    background-image: url('../assets/portfolio/portfolio6.jpg');
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}
.itemPortfolio:nth-child(6)
{
    height: 245px;
    width: 383px;
    background-image: url('../assets/portfolio/portfolio7.jpg');
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}
.itemPortfolio2:nth-child(1)
{
    height: 245px;
    width: 383px;
    background-image: url('../assets/portfolio/portfolio3.jpg');
    margin-top: 48px;
    background-size: cover;
    background-position: center;
}
.itemPortfolio2:nth-child(2)
{
    height: 245px;
    width: 383px;
    background-image: url('../assets/portfolio/portfolio8.jpg');
    margin-top: 48px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}
.itemPortfolio2:nth-child(3)
{
    height: 245px;
    width: 383px;
    background-image: url('../assets/portfolio/portfolio9.jpg');
    margin-top: 48px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}
.itemPortfolio2:nth-child(4)
{
    height: 245px;
    width: 383px;
    background-image: url('../assets/portfolio/portfolio10.jpg');
    margin-top: 10px;
    background-size: cover;
    background-position: center;
}
.itemPortfolio2:nth-child(5)
{
    height: 245px;
    width: 383px;
    background-image: url('../assets/portfolio/portfolio11.jpg');
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}
.itemPortfolio2:nth-child(6)
{
    height: 245px;
    width: 383px;
    background-image: url('../assets/portfolio/portfolio12.jpg');
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}
.overlayItemPortfolio
{
    height: 245px;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    opacity: 0;
    transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
    cursor: pointer;
}
.overlayItemPortfolio:hover
{
    opacity: 1;
}
.overlayItemPortfolio h4
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 169px;
}
.overlayItemPortfolio h6
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 14px;
    text-align: center;
}
.portfolio .btn-black 
{
    margin-top: 49px;
}
#Container .mix{
    display: none;
}


/*single page portfolio section*/

.portfolioHeader
{
    height: 400px;
    width: 100%;
    background-image: url('../assets/portfolio/portfolio1.jpg');
    background-position: center;
    background-size: cover;
}
.portfolioHeader2
{
    height: 400px;
    width: 100%;
    background-image: url('../assets/portfolio/portfolio2.jpg');
    background-position: center;
    background-size: cover;
}
.portfolioHeader3
{
    height: 400px;
    width: 100%;
    background-image: url('../assets/portfolio/portfolio4.jpg');
    background-position: center;
    background-size: cover;
}
.portfolioHeader4
{
    height: 400px;
    width: 100%;
    background-image: url('../assets/portfolio/portfolio5.jpg');
    background-position: center;
    background-size: cover;
}
.portfolioHeader5
{
    height: 400px;
    width: 100%;
    background-image: url('../assets/portfolio/portfolio6.jpg');
    background-position: center;
    background-size: cover;
}
.portfolioHeader6
{
    height: 400px;
    width: 100%;
    background-image: url('../assets/portfolio/portfolio7.jpg');
    background-position: center;
    background-size: cover;
}
.overlayPortfolioHeader 
{
    height: 400px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}
.overlayPortfolioHeader h4
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 7px;
    padding-top: 200px;
    color: #fff;
    text-align: center;
}
.overlayPortfolioHeader h5
{
    line-height: 20px;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 4px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin-top: 15px;
}
.singlePortfolioItemPage
{
    height: 1174px;
    width: 100%;
    margin-top: 142px;
}
.detailsSinglePortfolioItem h4 
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #000;
}
.detailsSinglePortfolioItem ul 
{
    list-style: none;
    margin-top: 12px;
    float: left;
}
.innerUl
{
    float: left;
    margin-left: 58px;
}
.detailsSinglePortfolioItem ul li 
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #000000;
    letter-spacing: 2px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 10px;
}

.description
{
    position: relative;
    left: 20px;
}
.description:nth-child(2)
{
    position: relative;
    left: 9px;
}
.description h4 
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    letter-spacing: 4px;
}
.description p 
{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 16px;
    line-height: 20px;
}

.itemImage 
{
    height: 600px;
    background-image: url('../assets/portfolio/portfolio1.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 86px;
}
.itemImage2 
{
    height: 600px;
    background-image: url('../assets/portfolio/portfolio13.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 86px;
}
.itemImage3 
{
    height: 600px;
    background-image: url('../assets/portfolio/portfolio2.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 86px;
}
.itemImage4 
{
    height: 600px;
    background-image: url('../assets/portfolio/portfolio4.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 86px;
}
.itemImage5 
{
    height: 600px;
    background-image: url('../assets/portfolio/portfolio5.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 86px;
}
.itemImage6 
{
    height: 600px;
    background-image: url('../assets/portfolio/portfolio6.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 86px;
}
.itemImage7 
{
    height: 600px;
    background-image: url('../assets/portfolio/portfolio7.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 86px;
}
.itemInnerPage li
{
    position: relative;
    top: 19px;
}
.itemInnerPage li {
    margin-left: 3px;
    margin-right: 12px;
    border: 1px solid #000;
    position: relative;
    top: 86px;
}
.itemInnerPage .active {
    width: 17px;
    height: 17px;
    margin-left: 3px;
    position: relative;
    top: 88px;
    margin-right: 12px;
    border: 1px solid;
    background-color: #000;
    border: 1px solid #000;
}

/*buttons*/

.leftIconPrev {
    width: 125px;
    height: 35px;
    background-color: #fff;
    border: none;
    letter-spacing: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 16px;
    font-size: 13px;
    color: #000000;
    border: 1px solid #fff;
    text-align: center;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    border: 1px solid #000;
    margin-top: 130px;
    float: left;
    padding-top: 9px;
}
.leftIconPrev i 
{
    padding-right: 10px;
}

.leftIconPrev:hover
{
    color: #fff;
    background-color: #000;
}
.RightIconPrev {
    width: 125px;
    height: 35px;
    background-color: #fff;
    border: none;
    letter-spacing: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 16px;
    font-size: 13px;
    color: #000000;
    border: 1px solid #fff;
    text-align: center;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    border: 1px solid #000;
    margin-top: 130px;
    float: right;
    padding-top: 9px;
}
.RightIconPrev i 
{
    padding-left: 10px;
}

.RightIconPrev:hover
{
    color: #fff;
    background-color: #000;
}
.CenterButton
{
    width: 159px;
    height: 35px;
    background-color: #fff;
    border: none;
    letter-spacing: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 16px;
    font-size: 13px;
    color: #000000;
    border: 1px solid #fff;
    text-align: center;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    border: 1px solid #000;
    float: none;
    margin: 130px auto;
    display: table;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 9px;
}
.CenterButton i 
{
    padding-right: 10px;
}
.CenterButton:hover
{
    color: #fff;
    background-color: #000;
}
















/*contact information section*/

.contactInfo
{
    height: 250px;
    width: 100%;
    background-color: #000;
}
.itemContactInfo:nth-child(1) 
{
    height: 126px;
    width: 300px;
    margin-top: 66px;
    margin-left: 126px;
}
.itemContactInfo:nth-child(2) 
{
    height: 126px;
    width: 300px;
    margin-top: 66px;
    margin-left: 8px;
}
.itemContactInfo:nth-child(3) 
{
    height: 126px;
    width: 300px;
    margin-top: 66px;
    margin-left: 8px;
}
.borderInfoContact 
{
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 100px;
    margin-left: 28px;
    margin-top: 31px;
    float: left;
}
.borderInfoContact i 
{
    padding-top: 16px;
    font-size: 20px;
    color: #000;
}
.contactContent
{
    height: 100px;
    width: 156px;
    float: left;
}
.contactContent h4
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 24px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 4px;
    padding-left: 28px;
    padding-top: 21px;
}
.contactContent h6:nth-child(2)
{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding-left: 28px;
    letter-spacing: 1px;
    position: relative;
    bottom: 5px;
}
.contactContent h6
{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding-left: 28px;
    letter-spacing: 1px;
    position: relative;
    bottom: 12px;
}

/*footer section*/

.footer
{
    height: 369px;
    width: 100%;
}

.footer img
{
    margin: 91px auto;
    float: none;
    display: table;
    margin-bottom: 0px;
}
.socialsFooter
{
    list-style: none;
    margin: 0 auto;
    display: table;
    float: none;
    margin-top: 64px;
}
.socialsFooter li 
{
    height: 40px;
    width: 41px;
    border: 1px solid #000;
    text-align: center;
    float: left;
    margin-left: 6px;
    margin-right: 3px;
    cursor: pointer;
}
.socialsFooter i 
{
    text-align: center!important;
    color: #000;
    padding-top: 11px;
    font-size: 17px;
}
.footer h5
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    color: #000;
    padding-top: 67px;
}
.footer h6
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 5px;
}












/*===============================================
            
            MEDIA QUERIES FOR DEVICES

===============================================*/

/*header*/

@media screen and (min-width:992px) and (max-width: 1199px) {

    .navbar-right {
        margin-top: 15px;
        margin-right: 5px;
    }
     /*portfolio section*/   

    .buttonsActiveItem li {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        float: none;
    }
    .portfolioItem {
        height: 1900px;
        padding: 20px;
    }
    .itemPortfolio:nth-child(1) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(2) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(3) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(4) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(5) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(6) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(1) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(2) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(3) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(4) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(5) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(6) {
        width: 100%;
        margin: 20px auto;
    }
    /*contact info section*/

    .itemContactInfo:nth-child(1) {
        height: 126px;
        width: 300px;
        margin-top: 66px;
        margin-left: 0px;
        margin: 100px auto;
    }
    .itemContactInfo:nth-child(2) {
        height: 126px;
        width: 300px;
        margin-left: 0px;
        margin: 50px auto;
    }
    .itemContactInfo:nth-child(3) {
        height: 126px;
        width: 300px;
        margin-left: 0px;
        margin: 50px auto;
    }

    .contactInfo {
        height: 700px;
        width: 100%;
        background-color: #000;
    }

    
    /*single portfolio section*/

    .detailsSinglePortfolioItem h4
    {
        text-align: center;
    }
    .detailsSinglePortfolioItem ul {
        list-style: none;
        margin-top: 12px;
        float: left;
        margin: 0 auto;
        display: table;
        float: none;
        text-align: center!important;
    }
    .detailsSinglePortfolioItem ul li
    {
        text-align: center;
    }

    .description h4
    {
        text-align: center;
        padding-top: 20px;
    }
    .description p
    {
        text-align: center;
    }
    .description:nth-child(2)
    {
        position: relative;
        left: 0px;
    }
    .description
    {
        position: relative;
        left: 0px;
    }
    .singlePortfolioItemPage {
        height: 1800px;
        width: 100%;
        margin-top: 142px;
        padding: 20px;
    }
    .leftIconPrev
    {
        float: none;
        margin: 100px auto;
        display: table;
        margin-bottom: 0px;
    }
    .CenterButton
    {
        margin: 20px auto;
    }
    .RightIconPrev
    {
        float: none;
        margin: 76px auto;
        display: table;
    }
}

@media screen and (min-width:768px) and (max-width: 992px) {

    .navbar-inverse .navbar-nav > li > a {
        font-size: 10px;
        padding-left: 2px;
        padding-right: 9px;
    }
    .navbar-right {
        margin-right: 0px;
    }
     /*portfolio section*/   

    .buttonsActiveItem li {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        float: none;
    }
    .portfolioItem {
        height: 1900px;
        padding: 20px;
    }
    .itemPortfolio:nth-child(1) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(2) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(3) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(4) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(5) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(6) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(1) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(2) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(3) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(4) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(5) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(6) {
        width: 100%;
        margin: 20px auto;
    }
    /*contact info section*/

    .itemContactInfo:nth-child(1) {
        height: 126px;
        width: 300px;
        margin-top: 66px;
        margin-left: 0px;
        margin: 100px auto;
    }
    .itemContactInfo:nth-child(2) {
        height: 126px;
        width: 300px;
        margin-left: 0px;
        margin: 50px auto;
    }
    .itemContactInfo:nth-child(3) {
        height: 126px;
        width: 300px;
        margin-left: 0px;
        margin: 50px auto;
    }

    .contactInfo {
        height: 700px;
        width: 100%;
        background-color: #000;
    }


    /*single portfolio section*/

    .detailsSinglePortfolioItem h4
    {
        text-align: center;
    }
    .detailsSinglePortfolioItem ul {
        list-style: none;
        margin-top: 12px;
        float: left;
        margin: 0 auto;
        display: table;
        float: none;
        text-align: center!important;
    }
    .detailsSinglePortfolioItem ul li
    {
        text-align: center;
    }

    .description h4
    {
        text-align: center;
        padding-top: 20px;
    }
    .description p
    {
        text-align: center;
    }
    .description:nth-child(2)
    {
        position: relative;
        left: 0px;
    }
    .description
    {
        position: relative;
        left: 0px;
    }
    .singlePortfolioItemPage {
        height: 1800px;
        width: 100%;
        margin-top: 142px;
        padding: 20px;
    }
    .leftIconPrev
    {
        float: none;
        margin: 100px auto;
        display: table;
        margin-bottom: 0px;
    }
    .CenterButton
    {
        margin: 20px auto;
    }
    .RightIconPrev
    {
        float: none;
        margin: 76px auto;
        display: table;
    }
}

@media screen and (min-width:480px) and (max-width: 768px) {


    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #101010;
        margin-top: 12px;
        color: #000;
        background-color: #f6f6f6;
    }
    .navbar-right {
        margin-top: 14px;
        margin-right: 0px;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #000;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 13px;
        padding-left: 0px;
        padding-right: 0px;
        letter-spacing: 2px;
        line-height: 16px;
        font-weight: normal;
        text-align: center;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #000;
        background-color: transparent;
    }
     /*portfolio section*/   

    .buttonsActiveItem li {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        float: none;
    }
    .portfolioItem {
        height: 1900px;
        padding: 20px;
    }
    .itemPortfolio:nth-child(1) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(2) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(3) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(4) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(5) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(6) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(1) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(2) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(3) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(4) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(5) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(6) {
        width: 100%;
        margin: 20px auto;
    }
    /*contact info section*/

    .itemContactInfo:nth-child(1) {
        height: 126px;
        width: 300px;
        margin-top: 66px;
        margin-left: 0px;
        margin: 100px auto;
    }
    .itemContactInfo:nth-child(2) {
        height: 126px;
        width: 300px;
        margin-left: 0px;
        margin: 50px auto;
    }
    .itemContactInfo:nth-child(3) {
        height: 126px;
        width: 300px;
        margin-left: 0px;
        margin: 50px auto;
    }

    .contactInfo {
        height: 700px;
        width: 100%;
        background-color: #000;
    }


    /*single portfolio section*/

    .detailsSinglePortfolioItem h4
    {
        text-align: center;
    }
    .detailsSinglePortfolioItem ul {
        list-style: none;
        margin-top: 12px;
        float: left;
        margin: 0 auto;
        display: table;
        float: none;
        text-align: center!important;
    }
    .detailsSinglePortfolioItem ul li
    {
        text-align: center;
    }

    .description h4
    {
        text-align: center;
        padding-top: 20px;
    }
    .description p
    {
        text-align: center;
    }
    .description:nth-child(2)
    {
        position: relative;
        left: 0px;
    }
    .description
    {
        position: relative;
        left: 0px;
    }
    .singlePortfolioItemPage {
        height: 1800px;
        width: 100%;
        margin-top: 142px;
        padding: 20px;
    }
    .leftIconPrev
    {
        float: none;
        margin: 100px auto;
        display: table;
        margin-bottom: 0px;
    }
    .CenterButton
    {
        margin: 20px auto;
    }
    .RightIconPrev
    {
        float: none;
        margin: 76px auto;
        display: table;
    }
}

@media screen and (min-width:280px) and (max-width: 480px) {

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #101010;
        margin-top: 12px;
        color: #000;
        background-color: #f6f6f6;
    }
    .navbar-right {
        margin-top: 14px;
        margin-right: 0px;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #000;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 13px;
        padding-left: 0px;
        padding-right: 0px;
        letter-spacing: 2px;
        line-height: 16px;
        font-weight: normal;
        text-align: center;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #000;
        background-color: transparent;
    }
    
    /*portfolio section*/   

    .buttonsActiveItem li {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        float: none;
    }
    .portfolioItem {
        height: 1900px;
        padding: 20px;
    }
    .itemPortfolio:nth-child(1) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(2) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(3) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(4) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(5) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio:nth-child(6) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(1) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(2) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(3) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(4) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(5) {
        width: 100%;
        margin: 20px auto;
    }
    .itemPortfolio2:nth-child(6) {
        width: 100%;
        margin: 20px auto;
    }

    /*contact info section*/

    .itemContactInfo:nth-child(1) {
        height: 126px;
        width: 300px;
        margin-top: 66px;
        margin-left: 0px;
        margin: 100px auto;
    }
    .itemContactInfo:nth-child(2) {
        height: 126px;
        width: 300px;
        margin-left: 0px;
        margin: 50px auto;
    }
    .itemContactInfo:nth-child(3) {
        height: 126px;
        width: 300px;
        margin-left: 0px;
        margin: 50px auto;
    }

    .contactInfo {
        height: 700px;
        width: 100%;
        background-color: #000;
    }

    /*footer section*/

    .footer {
        height: 800px;
        width: 100%;
    }

    .socialsFooter li {
        float: none;
        margin-top: 20px;
    }

    /*single portfolio section*/

    .detailsSinglePortfolioItem h4
    {
        text-align: center;
    }
    .detailsSinglePortfolioItem ul {
        list-style: none;
        margin-top: 12px;
        float: left;
        margin: 0 auto;
        display: table;
        float: none;
        text-align: center!important;
    }
    .detailsSinglePortfolioItem ul li
    {
        text-align: center;
    }

    .description h4
    {
        text-align: center;
        padding-top: 20px;
    }
    .description p
    {
        text-align: center;
    }
    .description:nth-child(2)
    {
        position: relative;
        left: 0px;
    }
    .description
    {
        position: relative;
        left: 0px;
    }
    .singlePortfolioItemPage {
        height: 2000px;
        width: 100%;
        margin-top: 142px;
        padding: 20px;
    }
    .leftIconPrev
    {
        float: none;
        margin: 100px auto;
        display: table;
        margin-bottom: 0px;
    }
    .CenterButton
    {
        margin: 20px auto;
    }
    .RightIconPrev
    {
        float: none;
        margin: 76px auto;
        display: table;
    }

}
